#main {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

#main input{
    margin: 5px;
}

div{
    padding: 5px;
}

.right {
    text-align: right;
    margin: 10px;
}

button:hover {
    background-color: gray;
}

body{
    padding: 20px;
}

.advanced_search > div > input{
    position: absolute;
    left: 230px;
}

#advanced {
    text-align: center;
    color: white;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button{
    border-radius: 8px;
}

.search_bar{
    padding: 6px 200px;
}